n8n-workflows/scoping-agent/scoping-agent-workflow.json
{
  "name": "Pain Point Scoping - Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-3-opus-20240229",
        "prompt": {
          "type": "define",
          "text": "={{ $('Execute Workflow Trigger').item.json.genesisPrompt }}"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        }
      },
      "id": "ai-agent",
      "name": "Claude - Scoping Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.uid }}",
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [450, 150]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "//SESSION_COMPLETE//"
            }
          ]
        }
      },
      "id": "check-completion",
      "name": "Check Session Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-3-opus-20240229",
        "prompt": {
          "type": "define",
          "text": "//GENERATE_INFERENCE//"
        },
        "systemMessage": "={{ $('Execute Workflow Trigger').item.json.genesisPrompt }}"
      },
      "id": "generate-inference",
      "name": "Generate JSON Inference",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "text",
        "fileContent": "={{ $json.output }}",
        "fileName": "={{ $('Execute Workflow Trigger').item.json.uid }}-PainPointScope-{{ $('Execute Workflow Trigger').item.json.projectName || 'Session' }}.json",
        "folderId": "{{ $credentials.googleDrive.scopingSessionsFolderId }}"
      },
      "id": "save-to-drive",
      "name": "Save to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "conversationContinue",
              "value": "true"
            }
          ]
        }
      },
      "id": "continue-conversation",
      "name": "Continue Conversation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Claude - Scoping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Scoping Agent": {
      "main": [
        [
          {
            "node": "Check Session Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "main": [
        [
          {
            "node": "Claude - Scoping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Complete": {
      "main": [
        [
          {
            "node": "Generate JSON Inference",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JSON Inference": {
      "main": [
        [
          {
            "node": "Save to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "scoping-agent-workflow"
}
